Source: opensrf
Section: admin
Priority: optional
Maintainer: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autoconf, automake, libtool, apache2-prefork-dev, libexpat1-dev, libgcrypt11-dev, libgdbm-dev, libperl-dev, libreadline5-dev, libxml2-dev, libxslt1-dev, pkg-config, python-dev, python-setuptools, libcache-memcached-perl, libclass-dbi-abstractsearch-perl, libclass-dbi-sqlite-perl, libdatetime-format-builder-perl, libdatetime-format-mail-perl, libdatetime-perl, libdatetime-timezone-perl, liberror-perl, libfile-find-rule-perl, libfreezethaw-perl, liblog-log4perl-perl, libmodule-build-perl, libnet-jabber-perl, librpc-xml-perl, libtemplate-perl, libtest-pod-perl, libtie-ixhash-perl, libuniversal-require-perl, libunix-syslog-perl, libwww-perl, libxml-libxml-perl, libxml-libxslt-perl, libxml-simple-perl
Standards-Version: 3.9.1
Homepage: http://www.evergreen-ils.org/

Package: opensrf
Architecture: any
Depends: apache2-mpm-prefork, ejabberd, less, libapache2-mod-perl2, libcache-memcached-perl, libclass-dbi-abstractsearch-perl, libclass-dbi-sqlite-perl, libdatetime-format-builder-perl, libdatetime-format-mail-perl, libdatetime-perl, libdatetime-timezone-perl, liberror-perl, libfile-find-rule-perl, libfreezethaw-perl, liblog-log4perl-perl, libmodule-build-perl, libnet-jabber-perl, librpc-xml-perl, libtemplate-perl, libtest-pod-perl, libtie-ixhash-perl, libuniversal-require-perl, libunix-syslog-perl, libwww-perl, libxml-libxml-perl, libxml-libxslt-perl, libxml-simple-perl, memcached, psmisc, python-libxml2
Description: Inter-application message passing framework
 OpenSRF is an inter-application message passing framework based on XMPP.  OpenSRF supports
 writing client-server applications where the load of service requests can be scaled
 across an array of commodity servers.  It has bindings for writing services in
 Perl, C, and Python.  The client side has language bindings for Perl, C, Python, JavaScript,
 and Java.

 OpenSRF is the application framework used by the Evergreen open source integrated library
 system project.
